.chat-main
  .main-header{"data-group-id": @group.id}
    %p.main-header__left-box
      = @group.name
    %p.main-header__left-box-member__list
      Member:
      - @group.group_users.each do |group_user|
        = group_user.user.name
    .main-header__edit-btn
      = link_to edit_group_path(@group.id) do
        EDIT
  .messages
    = render @messages

  = render "messages/form"