.chat-side
  .side-header
    %p.name
      = current_user.name
    %ul.botn
      = link_to new_group_path , class: "side-header-botn" do
        =icon('fas', 'edit')
      = link_to edit_user_path(current_user), class: "side-header-botn" do
        =icon('fas', 'cog')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message